body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 190%;
    max-width: 950px;
  }
  
  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .enlarged-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .project-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .project-details {
    font-size: 16px;
    color: #555;
  }
  
  .project-details p {
    margin-bottom: 10px;
  }
  
  .pdf-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .pdf-view-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .pdf-view-button:hover {
    background-color: #0056b3;
  }
  